*~
/*-[0-9][0-9].xml
archive.json
Gemfile.lock
/.gems/
/lib
/.*.mk
/node_modules/
package-lock.json
*.redxml
/.refcache
report.xml
*.swp
.tags
draft-*.txt
draft-*.html
draft-*.pdf
draft-*.xml
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
